@tailwind base;
@tailwind components;
@tailwind utilities;



  .designScrollBar::-webkit-scrollbar {
    width: 4px; 
    height: 5px;
    border-radius: 5px;
  }
  
  .designScrollBar::-webkit-scrollbar-track {
    background: #e0e0e0; 
    border-radius: 5px;
  }
  
  .designScrollBar::-webkit-scrollbar-thumb {
    background-color: #85B262; 
    border: 2px solid transparent;
    width: 4px; 
    height: 5px;
    border-radius: 5px;
  }

  /* .designScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  } */